@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald&display=swap');

/* reseta tudo pra começar com um layout limpinho */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  background: #2C003E;
  touch-action: pan-y; /* solução para o zoom no celular */
}

header {
  width: 100%;
  position: fixed;
  background: #2C003E;
  box-shadow: 0px 0px 30px #000000aa;
  z-index: 99; /* pra ficar na frente dos outros elementos */
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.logo img {
  width: 8rem;   /* ajusta tamanho da logo */
}

.logo h1 {
  background-clip: text;
  color: #FF69B4;
  font-size: 15px;
}


/* organiza as coisas dentro do cabeçalho */
.inner-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
  font-weight: bold;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

nav a {
  margin: 3rem;
  padding-bottom: 0.2rem;
  font-size: 2rem;
  color: #ffffff;
  text-decoration: none;
  transition: all ease .2s;
}

nav a:hover {
  color: #FF69B4; /* efeito pra quando passar o mouse em cima do nav mudar de cor */
}

nav a:active {
  opacity: .6; /* efeito pra quando clicar escurecer um pouquinho a cor da palavra */
}


.container {
  background: #af43b0;
}

.container section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 11rem;
}

.conteudo-container {
  max-width: 60rem;
  color: var(--white);
}
 /* titulo da segunda pag */ 
.conteudo-container h2 {
  font-size: 6.2rem;
  font-weight: 900;
  line-height: 1;
  color: #ffffff;
  word-spacing: -0.5rem;
  text-shadow: 0px 0px 8px #00000099;
}

.conteudo-container p {
  width: 95%;
  margin: 1.2rem 0 0 0.4rem;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.45;
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
}

.btn {
  margin-top: 2rem;
  padding: 1rem 3.6rem;
  background: #FF69B4; 
  color: #2C003E; 
  font-size: 1.8rem;
  font-weight: 700;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: ease .2s;
}
.fem {
  margin-top: 2rem;
  padding: 1rem 3.6rem;
  background: #FF69B4; 
  color: #2C003E; 
  font-size: 1.8rem;
  font-weight: 700;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: ease .2s;
}
.fem:hover {
  background-color: #2c003e85;
  color: #af43b0;
  transition: background-color 0.3s ease;
}
.masc{
  margin-top: 2rem;
  padding: 1rem 3.6rem;
  background: #FF69B4; 
  color: #2C003E; 
  font-size: 1.8rem;
  font-weight: 700;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: ease .2s;
}
.masc:hover {
  background-color: #2c003e85;
  color: #af43b0;
  transition: background-color 0.3s ease;
}
.col {
  margin-top: 2rem;
  padding: 1rem 3.6rem;
  background: #FF69B4; 
  color: #2C003E; 
  font-size: 1.8rem;
  font-weight: 700;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: ease .2s;
}
.col:hover {
  background-color: #2c003e85;
  color: #af43b0;
  transition: background-color 0.3s ease;
}
.conteudo-container .btn {
  box-shadow: 0px 0px 15px #000000;
}

.btn:hover {
  background-color: #2C003E;
  color: #af43b0;
}

.btn:active {
  opacity: .6;
}

#about {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.itens-about {
  padding: 0;
  display: flex;
  align-items: center;
  background: linear-gradient(to left, #2C003EBB 0%, #2C003E55 100%), url("./assets/about-bg.jpg") no-repeat fixed center/cover;
}

.img {
  width: 60%;
  min-height: 800px;
  background: linear-gradient(to top, transparent 90%, #2C003E 100%, #2C003E55 20%), url("/assets/assets-main/about2.jpg") no-repeat center/cover;
  z-index: 1;
}

.text {
  width: 40%;
  min-height: 800px;
  display: flex;
  align-items: center;
  padding: 4rem;
  box-shadow: inset 0px 0px 30px #000;
}

.itens-text {
  max-width: 570px;
  margin: 0 auto;
  color: #ffffff;
}
.itens-text button {
  background: #FF69B4;
  color: #2C003E;
}
.text h2 {
  font-size: 4rem;
  font-weight: 800;
  color: #FF69B4; 
  text-shadow: 1px 1px 2px #000000;
}

.text p {
  font-size: 1.7rem;
  font-weight: 400;
  margin: 2rem 0 1rem;
  line-height: 1.5;
  color: #eeeeee;
  text-shadow: 1px 1px 2px #000000;
}

.itens-about .btn {
  background: #FF69B4;
  color: #2C003E;
  border: 1px solid #FF69B4;
}

.itens-about .btn:hover {
  background: #2C003E;
  color: #FF69B4;
  text-shadow: none;
}

.itens-about .btn:active {
  opacity: .6;
}

#menu {
  min-height: 100vh;
  padding: 10rem 0;
  /* faz uma sombrinha ali em cima dos itens do cataogo */
  background: linear-gradient(to bottom, #090403 0%, #00000055 10%, #00000099 60%,#090403 100%), url("./assets/menu2.jpg") no-repeat right/cover;
}

#menu .title {
  margin: 0;
  margin-bottom: 20px;
  color: #FF69B4;
}

.title {
  font-size: 5.2rem;
  font-weight: 800;
  color: #FFD700;
  text-align: center;
  text-shadow: 0px 0px 10px #00000099;
}

.divider {
  display: block;
  margin: 0 auto;
  filter: brightness(.9);
  margin-bottom: 5rem;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 0 1rem;
}

.card {
  width: 45rem;
  height: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: #4B006E;
  border: 1px solid #FF69B4;
  border-radius: 0.8rem;
  transition: ease .5s;
}

.card:hover {
  background:#7d3a7c;
}


.card img {
  width: 12rem;
  border-radius: 50%;
  cursor: pointer;
}
.card img:hover{
  width: 20rem;
  border-radius: 50%;
}

.card h3 {
  padding: 0.5rem 0;
  font-size: 1.7rem;
  font-weight: 700;
}

.card strong {
  margin: 0 5rem 0.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
  color: #eeeeee;
}

.card p {
  font-size: 4rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.card span {
  font-size: 1.4rem;
  font-weight: 100;
  text-decoration: line-through;
}

.card .btn {
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
}

.card:hover>* /* todos os elementos do card vão obedecer a isso */ {
  color: #000000;
  transition: ease .5s;
}

.card:hover>button /* somente os botões do card vão obedecer a isso */{
  padding: 1rem 2rem;
  color:  #FF69B4;
  background: #2C003E;
  transition: ease .5s;
}

.card:active {
  filter: brightness(.5);
}



footer {
  width: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #ffffff;
  background: #2C003E;
  cursor: default;
  margin-top: 30  0px;
  margin-bottom: 0;
}

footer .social {
  display: flex;
  padding: 20px;
  margin-bottom: 20px;
}
footer .siga {
  padding: 10px;
  font-size: bold;
  font-size: 1.4rem;
  
}
footer h3, footer h4 {
  padding: 0;
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 400;
}

footer i {
  font-size: 1.6rem;
  padding: 0 0 0.5rem 0.3rem;
  transition: 0.5s;
}

footer i:hover {
  transform: translateY(-5px);
}

footer a {
  font-size: 1.4rem;
  color: #FF69B4;
  font-weight: 700;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer a:active {
  opacity: .7;
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }

  .inner-header {
    justify-content: space-around;
  }

  .container {
    background: linear-gradient(to bottom, transparent 70%, #090403 100%);
    background-position: -1000px;
  }

  .container section {
    justify-content: center;
    align-items: flex-end;
  }
  
  .conteudo-container {
    text-align: center;
    padding-bottom: 3rem;
  }
  
  .conteudo-container h2 {
    margin: 0 auto;
    padding: 1rem;
    max-width: 500px;
    font-size: 4.5vh;
    text-shadow: 0px 0px 15px #000000;
  }
  
  .conteudo-container p {
    width: 90%;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: 300;
    text-shadow: 0px 0px 15px #000000;
  }

  #about {
    padding: 0;
  }

  .img {
    display: none;
  }
  
  .title {
    font-size: 4rem;
    margin: 3rem 0;
  }

  .itens-about {
    flex-direction: column;
    background-position: right;
  }

  .text {
    width: 100%;
    padding: 2rem;
  }

  .text h2 {
    margin: 0;
    font-size: 3.7vh;
  }

  .itens-about .btn {
    display: block;
    margin: 2rem auto;
  }

  #menu {
    padding: 5rem 0;;
  }

  footer {
    width: 100%;
    padding: 25px 0; /* Aumente a parte superior se necessário */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: #ffffff;
    cursor: default;
  }

  footer h3, footer h4, footer i {
    font-size: 1.3rem;
  }
}